{% extends "admin/change_list.html" %} {% block content %}
<div>
  <h2>Stats:</h2>
  <style>
    .flex {
      display: flex;
      gap: 100px;
      margin: 40px;
    }
    .stat-card {
      background-color: #fff;
      border-radius: 8px;
      width: 200px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;

      text-align: center;
    }

    .total-price {
      font-size: 24px;
      font-weight: bold;
      color: #3498db;
    }

    .label {
      font-size: 14px;
      color: #555;
      margin-top: 5px;
      font-weight: bold;
    }
  </style>
  <div class="flex">
    <div class="stat-card">
      <div class="total-price">{{monthly_stats.points }}</div>
      <div class="label">Points</div>
    </div>
  </div>
</div>
{{ block.super }} {% endblock %}
